.ui-collapsible-heading .ui-btn{
	text-align:right;
}
.ui-collapsible-content >p{
	margin-top:5px;
	font-size:0.8em;
}
.ui-collapsible-content{
	padding-top:0px;
}
p{
	margin-top:0px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}