<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Redigo.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Redigo</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    <access origin="*" />
</widget>
