// main: redigo.less
#business-profile-page .ui-content {
	padding: 0;
}
.rg-business.rg-profile-top {
	padding: 0 0 5px 0;
	.rg-business-details {
		padding: 5px;
	}
}
.rg-business-content {
	margin-top: 10px;
	background-color: lighten(@theme-color, 20%);
}
.rg-business-profile {
	img {
		display: block;
	}
	
}