body {
    background-image: url('../img/redigo_bg.jpg');
}
#welcome {
    text-align: center;
    background: -webkit-gradient(linear, top left, bottom left, from(#fff7dc), to(#fff));
    background: -webkit-linear-gradient(top, #fff7dc, #fff);
    background: linear-gradient(top, #fff7dc, #fff);
    margin: 0 auto;
}
.ui-datebox-header h4 {
    color: white;
}
.ui-datebox-flipcontent li.ui-body-a span {
    color: white;
}
.ui-input-datebox input {
    margin-right: -6px !important;
}
#welcome img {
    max-width: 100%;
}

#login #login-notes {
    color: #8ab26d;
}

.error {
    color: red;
    text-shadow: none;
}

#profile p {
    margin: 7px 0;
}
#rg-field-points {
    background-color: #715125;
    display: inline-block;
    padding: 3px 6px;
    color: white;
    margin-right: 5%;
    border-radius: 5px 10px;
}