@import "glyph-icons";

.ui-li, .ui-li.ui-field-contain {
  text-align: right;
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
  float: right;
}

.ui-body-c, .ui-overlay-c {
  background: url('../img/redigo_bg.jpg');
}

a.rg-nav-panel {
  color: white;
  text-decoration: none;
  font-size: 1.6em;
}

.ab-block(@aBlock:20%; @bBlock:80%) {
  .ui-block-a {
    width: @aBlock;
  }
  .ui-block-b {
    width: @bBlock;
  }
}

.abc-block(@aBlock:33%;@bBlock:33%;@cBlock:33%) { 
  .ab-block(@aBlock, @bBlock);
  .ui-block-c {
    width:  @cBlock;
  }
}

.rg-profile-field {
  font-size: 0.7em;
}

.rg-profile-top {
  .ab-block(60%, 40%);

  h2 {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }
}

.rg-challenge-box {
  border: solid 1px #95b872;
  box-shadow: 1px 1px 3px 1px #728d30;
  border-radius: 7px;
  font-size: small;
  margin: 8px auto;
  padding: 0;
  background-color: #e7efc5;

  h3 {
    padding: 7px;
    margin: 0;
    float: left;
    background-color: #476f19;
    color: white;
    text-shadow: #476f19 0 1px 0;
    border-radius: 7px;
  }

  h2, h4, h5, h6 {
    margin: 0 0 15px 0;
  }

  h4 {
    font-size: 1.1em;
  }

  img {
    max-width: 100%;
  }
  
  a.rg-nav-panel {
    font-size: 1.6em;
    color: white;
    text-decoration: none;
  }
  .abc-block(20%, 60%, 20%);
}