//out: redigo.css
@import "glyph-icons";
/* -----------/ GLYPH ICONS SUPPORT -------------------*/

/* -----------/ RIGHT TO LEFT ISSUES -------------------*/

.ui-li, .ui-li.ui-field-contain {
  text-align: right;
}

.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
  float: right;
}

.ul-li-aside {
  float: left
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, 
.ui-li-static.ui-li-has-arrow {
  padding-left: 40px;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, 
.ui-li-static.ui-li-has-thumb {
  padding-right: 100px;
}

/* -----------/ RIGHT TO LEFT ISSUES -------------------*/

.ui-body-c, .ui-overlay-c {
  background: url('../img/redigo_bg.jpg');
}

a.rg-nav-panel {
  color: white;
  text-decoration: none;
  font-size: 1.6em;
}

.ab-block(@aBlock: 20%, @bBlock: 80%) {
  .ui-block-a {
    width: @aBlock;
  }

  .ui-block-b {
    width: @bBlock;
  }
}

.abc-block(@aBlock: 33%, @bBlock: 33%, @cBlock: 33%) {
  .ab-block(@aBlock, @bBlock);

  .ui-block-c {
    width: @cBlock;
  }
}

.border-radius(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.rg-profile-field {
  font-size: 0.7em;
}

.ui-btn-up-a.rg-header-btn-red,  .ui-bar-a .ui-btn-hover-a .rg-header-btn-red{
  background-color: #d37979;
}

.rg-profile-top {
  .ab-block(60%, 40%);

  h2 {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }
}

.rg-separator {
  display: block;
  background-color: #4c718d;
  color: #fff;
  text-shadow: none;
  padding-right: 3%;
  margin-bottom: 0;
  .border-radius(8px 0 0 0);
}

.rg-challenge-box {
  .border-radius(0 0 7px 7px);
  font-size: small;
  margin: 0;
  padding: 0;
  background-color: #e7efc5;
  overflow: hidden;

  .ui-grid-b > :nth-child(n) {
    margin-right: 0px;
    margin-left: 0px;
  }

  h3 {
    padding: 7px;
    margin: 0;
    float: left;
    background-color: #476f19;
    color: white;
    text-shadow: #476f19 0 1px 0;
    .border-radius(0 0 7px 0);
  }

  .ui-grid-b > :nth-child(n) {
    margin-right: 0;
    margin-left: 0;
  }

  h2, h4, h5, h6 {
    margin: 0 0 15px 0;
  }

  h4 {
    font-size: 1.1em;
  }

  img {
    max-width: 100%;
  }

  .rg-challenge-content {
    padding: 3px 10px;
  }

  a.rg-nav-panel {
    font-size: 1.6em;
    color: white;
    text-decoration: none;
  }

  .abc-block(20%, 60%, 20%);
}

.rg-business-list {
  text-shadow: none;
  margin-top: 0 !important;
  li {
    background-color: #C1CAD1;
  }
  img {
    margin-right: 0;
  }
}

.ui-input-search, div.ui-input-text {
  background-color: #fff;
}

/* ----------- SWIPEJS STUFF -------------------*/
.rg-swipe-scroll {
  text-align: center;
  ul {
    display: inline-block;
    font-size: 1.2em;
    padding-left: 0;
    margin: 0 auto;
    list-style-type: circle;
    list-style-position: inside;
    color: #667BAB;
    & >li {
      float: left;
      margin: 0 3px;
    }
    
    & >li.current {
      list-style-type: disc;
    }
  }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  direction: ltr;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;

  & > div {
    float: left;
    width: 90%;
    position: relative;
  }
}
/* -----------/ SWIPEJS STUFF -------------------*/

